body {
    background-color: rgb(253, 236, 236);
}

.header {
    text-align: center;
    text-decoration: none;
    margin: 0;
}

.list{
    display:inline-block;
    margin: 10px;
}

.title {
    text-decoration: none;
    margin: 45px auto;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    width: 60%;
    font-weight: 100;
    color: black;
}


.nav-menu a {
    text-decoration: none;
    color: black;
}


.mainContent {
    margin-top: 2rem;
}

.dp {
    max-width: 1000px;
    margin: 15px auto 0;
}
.back-dark {
    background-color: rgba(255, 174, 174, 0.32);
    max-width: 100%;
    margin: 0 auto;

}

.coverImage {
    width: 55vw;
    max-width: 425px;
    border: 10px solid rgb(255, 255, 255);
    margin-top: 45px;
    margin-bottom: -50px;
}

.dp-lower {
    background-color: rgb(253, 236, 236);
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 20px;
}

.tagline {
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 151, 151);
    font-weight: 600;
    font-size: 1rem;
}


.flex-container {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    flex-wrap: wrap;
}

.flex-container-small {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
}

.flex-item-left {
    padding: 0;
    float: left;

}

.flex-item-center {
    padding: 0;
    float:none;
}

.flex-item-right {
    padding: 0;
    float: right;
}

.flex-50 {
    flex: 50%;
}

.flex-33 {
    flex: 33.33%;
    margin-bottom: 2rem;
}

.flex-30 {
    flex: 30%;
}

.flex-25 {
    flex: 25%
}

.flex-70 {
    flex: 70%
}

.overflow-hidden {
    overflow: hidden;
}

.center {
    justify-content: center;
    align-items: center;
    display: flex;
}


.flex-image {
    width: 110%;
    margin: 10px 0;
}

.flex-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 151, 151);
    font-weight: 600;
}

.bg-section {
    background-color: rgba(255, 151, 151, 0.322);
}